doctype html
html
	head
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="/javascripts/messenger.js")
		
		link(rel="stylesheet" href="/stylesheets/style.css")
		
		title HTTP Messenger
		//Title and per page scripts
		block title

	body
		//Navbar
		include ./navbar.jade

		
		//Content
		block content
		
		//Error modal
		include ./errorModal.jade
		
		hr
		footer
			p @ Nuno Caro by NodeJs hosted on RaspberryPi