doctype html
html
	head
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="/javascripts/messenger.js")
		
		link(rel="stylesheet" href="/stylesheets/style.css")
		
		//Title and per page scripts
		block title

	body
		//Navbar
		div(class="navbar navbar-default")
			div.container-fluid
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand" href="/") HTTP Messenger
				div(class="collapse navbar-collapse" id="myNavbar")
					ul(class="nav navbar-nav")
						li(class="")
							a( href="/session") List Sessions
					ul(class="nav navbar-nav navbar-right")
						li
							a(href="#")
								span(class="glyphicon glyphicon-user") Sign Up
						li
							a(href="#")
								span(class="glyphicon glyphicon-log-in") Login
		
		//Content
		block content
		
		//Error modal
		div(id="errModal" class="modal fade" role="dialog")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button( type="button" class="close" data-dismiss="modal") X
						h4( class="modal-title")= errorModalTitle
					div( class="modal-body")
						p(id="errorModalMessage")= errorModalMessage
					div( class="modal-footer")
						button( type="button" class="btn btn-default" data-dismiss="modal") Close
		
		hr
		footer
			p @ PI 2014/15 Grupo 3