extends ../layout

block title

block content
	div(class="row")
		div(class="col-xs-8 col-xs-offset-2")
			div(class="panel panel-primary")
				div(class="panel-heading") Register
				div(class="panel-body")
					form(method="POST" action="/users/register" role="form" class="form-inline text-center")
						input(class="form-control" type="text" id="username" name="username" placeholder="Username" value=username)
						input(class="form-control" type="password" id="password" name="password" placeholder="Password" value=password)
						input(class="form-control" type="email" id="email" name="email" placeholder="Email" value=email)
						input(class="btn btn-success" type="submit" value="Register")